/*************************************************************************
/**																		**
/**					CSS Document(Eng Version)							**
/**	Author :		Sean Hou											**
/**	Date :			2014-10-24											**
/**	Version :		0.1													**
/**																		**
/*************************************************************************/
body{
	font-family:Arial, Helvetica, sans-serif;
	width:1.3761e+006;
	height:768px;
	background:#42413c;
	margin:0 auto;
	padding:0;
	color:#000;
	display: inline;
}
.container{
	width:auto;
    height:auto;
//	margin:auto;
	background-color:#CCCCCC;
}
.header{
	height:auto;
	width:auto;
	padding:5px;
	background-color:#FFFFFF;
	clear:right;
//    display:inline;
}
.leftnav{
	float: left;
/*left:标记元素靠左，右边无文字绕排；
right:标记元素靠右，左边无文字绕排； */
//	height:auto;
	min-height:500px;
	background: #EADCAE;
	padding-bottom: 10px;
	width:161px;
    background:#ffffff;
    position:relative;
//    z-index:2;
}

.leftnav:hover{
    width:161px;
/*    background-color:#d90030;*/
    float:left;
//   position:relative;
//    z-index:4;
}

.content{
//	margin: 0 200px 0 200px;
	height:500px;
    width:800px;
//	width:auto;
//    white-space:nowrap;
	background-color:#ff9900;
    padding: 0 0 10px 0;
//	overflow:hidden;
}

#fl_menu{
	position:absolute;
	top:64px;
	left:37px;
	z-index:9999;
	width:116px;
	height:427px;
	float: left;
	overflow:hidden;
}
#fl_menu .label{
    padding-left:20px;
	line-height:50px;
	font-size:14px;
	font-weight:bold;
	background:#000;
	color:#fff;
	letter-spacing:4px;
}
#fl_menu .menu{
    display:inline;
}
#fl_menu .menu .menu_item{
	display: block;
	float:left;
	background: rgba(245, 245, 245, 0.6);
	color: #1F1818;
	border-top: 1px solid #8E8E8E;
	padding: 10px 20px;
	font-size: 12px;
	text-decoration: none;
	width:60px;
}
#fl_menu .menu a.menu_item:hover{
    background:#900;
    color:#fff;
}
.activeX{
	display:inline;/*不能去. chrome 中为block*/
	width:400px;
	height:480px;
	margin-right: 200px;
	margin-left: 200px;
}
.wrap{
	position:relative;
	width:110px;
	height:310px;
	padding:1em;
	background:#666666;
//	overflow:hidden;
	float: right;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
    white-space:nowrap;
}

.wrap:before {
   content:"";
   position:absolute;
   top:0;
   right:0;
   border-width:0 16px 16px 0;
   border-style:solid;
   border-color:#fff #fff #658E15 #658E15;
   background:#4E4E4E;
   -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   display:block; width:0; /* Firefox 3.0 damage limitation */
}

.wrap.rounded {
   -webkit-border-radius:5px 0 5px 5px;
   -moz-border-radius:5px 0 5px 5px;
   border-radius:5px 0 5px 5px;
}

.wrap.rounded:before {
   border-width:8px;
   border-color: #EBEAE6 #EBEAE6  transparent transparent;
   -webkit-border-bottom-left-radius:5px;
   -moz-border-radius:0 0 0 5px;
   border-radius:0 0 0 5px;
}

.wrap img {
    width: 100%;
    margin-top: 15px;
}



.footer{
	width:auto;
	height:50px;
	padding:5px;
	background-color:#FFFFFF;
    clear:both;
	text-align:center;
    padding:35px;
}


.header .logo{
	float:left;
	width:116px;
	height:45;
    margin:0px 0px 50px 0px;
}
.header .title{
	margin-right: 10px;
}
