/*************************************************************************
/**																		**
/**					CSS Document(Eng Version)							**
/**	Author :		Sean Hou											**
/**	Date :			2014-10-24											**
/**	Version :		0.1													**
/**																		**
/*************************************************************************/
body{
	font-family:Arial, Helvetica, sans-serif;
	width:1280px;
	height:768px;
	background:#42413c;
	padding:0;
	color:#000;
	display: inline;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.container{
	width:1280px;
	height:780px;
	position:absolute;


//	margin:auto;
	background-color:#CCCCCC;
	padding-left: 40px;
	;
	padding-right: 40px;
	;
}
.header{
	height:111px;
	width:1287px;
	padding:0px;
	background-color:#f2f2f2;
	clear:none;
	position:absolute;

//    display:inline;
	float: none;
}
.leftnav{
	float: none;



/*left:标记元素靠左，右边无文字绕排；
right:标记元素靠右，左边无文字绕排； */
//	height:auto;
	min-height:500px;
	background: #EADCAE;
	padding-bottom: 10px;
	width:161px;
	background:#ffffff;
	position:absolute;



//    z-index:2;
	left: 40px;
	top: 94px;
	height: 551px;
}

.leftnav:hover{
	width:161px;
	/*    background-color:#d90030;*/
    float:left;

//   position:relative;
//    z-index:4;
	position: absolute;
}

.content{
//	margin: 0 200px 0 200px;
	height:554px;
	width:1127px;



//	width:auto;
	white-space:normal;
	background-color:#f2f2f2;
	position:absolute;




//	overflow:hidden;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 161px;
	left: 37px;
	top: 108px;
}

#fl_menu{
	position:absolute;
	top:30px;
	left:1px;
	z-index:9999;
	width:116px;
	height:531px;
	float: left;
	overflow:hidden;
}
#fl_menu .label{
    padding-left:20px;
	line-height:50px;
	font-size:14px;
	font-weight:bold;
	background:#000;
	color:#fff;
	letter-spacing:4px;
}
#fl_menu .menu{
    display:inline;
}
#fl_menu .menu .menu_item{
	display: block;
	float:left;
	background: rgba(245, 245, 245, 0.6);
	color: #1F1818;
	border-top: 1px solid #8E8E8E;
	padding: 10px 20px;
	font-size: 12px;
	text-decoration: none;
	width:60px;
}
#fl_menu .menu a.menu_item:hover{
    background:#900;
    color:#fff;
}
.activeX{
	display:inline;/*不能去. chrome 中为block*/
	width:800px;
	height:542px;
	margin-right: 0px;
	margin-left: 0px;
	position:absolute;
	left: 23px;
	top: 21px;
}
.content .viewright{
	float: left;
	border:solid #ff9900 10px;


/*left:标记元素靠左，右边无文字绕排；
right:标记元素靠右，左边无文字绕排； */
//	height:auto;
	min-height:500px;
	background: #ffffff;
	padding-bottom: 10px;
	width:281px;
	background:#ffffff;
	position:absolute;
	background-color:#f2f2f2;


//    z-index:2;
	left: 826px;
	top: 22px;
	height: 508px;
}
.content .vinvout_right{
	float: left;
	border:solid #ff9900 10px;


/*left:标记元素靠左，右边无文字绕排；
right:标记元素靠右，左边无文字绕排； */
//	height:auto;
	min-height:500px;
	background: #ffffff;
	padding-bottom: 10px;
	width:519px;
	background:#ffffff;
	position:absolute;
	background-color:#f2f2f2;


//    z-index:2;
	left: 587px;
	top: 26px;
	height: 287px;
}
.content .vivout_right2{
	float: left;
	border:solid #ff9900 10px;


/*left:标记元素靠左，右边无文字绕排；
right:标记元素靠右，左边无文字绕排； */
//	height:auto;
	min-height:500px;
	background: #ffffff;
	padding-bottom: 10px;
	width:534px;
	background-color:#f2f2f2;
	position:absolute;



//    z-index:2;
	left: 9px;
	top: 24px;
	height: 287px;
}
.label{
	top:0;
	left:0;
	padding:0 3px 3px 0;
	background-color:#FF6633;
}
.vivout_right2 .action{
	position:absolute;
	height: 239px;
	width: 307px;
	left: 53px;
	top: 34px;
}
.vinvout_right .action{
	position:absolute;
	height: 239px;
	width: 307px;
	left: 53px;
	top: 34px;
}

.viewright .action{
	position:absolute;
	height: 501px;
	width: 245px;
	left: 15px;
	top: 15px;
}
.wrap{
	position:relative;
	width:110px;
	height:310px;
	padding:1em;
	background:#666666;
//	overflow:hidden;
	float: right;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
    white-space:nowrap;
}

.wrap:before {
   content:"";
   position:absolute;
   top:0;
   right:0;
   border-width:0 16px 16px 0;
   border-style:solid;
   border-color:#fff #fff #658E15 #658E15;
   background:#4E4E4E;
   -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   display:block; width:0; /* Firefox 3.0 damage limitation */
}

.wrap.rounded {
   -webkit-border-radius:5px 0 5px 5px;
   -moz-border-radius:5px 0 5px 5px;
   border-radius:5px 0 5px 5px;
}

.wrap.rounded:before {
   border-width:8px;
   border-color: #EBEAE6 #EBEAE6  transparent transparent;
   -webkit-border-bottom-left-radius:5px;
   -moz-border-radius:0 0 0 5px;
   border-radius:0 0 0 5px;
}

.wrap img {
    width: 100%;
    margin-top: 15px;
}



.footer{
	width:1283px;
	height:107px;
	background-color:#f2f2f2;
	clear:both;
	text-align:center;
	padding:35px;
	position: absolute;
	left: 41px;
	top: 656px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}


.header .logo{
	float:left;
	width:116px;
	height:88px;
    margin:0px;
}
.header .title{
	margin-right: 0px;
	position:absolute;
	width: 1130px;
	height: 108px;
	left: 156px;
	top: 0px;
}

#vin_Resolution {
	position:absolute;
	left: 39px;
	top: 96px;
	width: 101px;
}

#vin_fps{
	position:absolute;
	left: 36px;
	top: 141px;
	width: 131px;
}
#vout_type{
	position:absolute;
	left: 48px;
	top: 138px;
	width: 167px;
}
#vout_Resolution{
	position:absolute;
}
.content .title{

	left: 205px;
	top: -9px;
	background-color:#f2f2f2;
	height: 40px;
	width: 191px;
	position:absolute;
}
.vinvout_submit{
	position:absolute;
	left: 457px;
	top: 391px;
	width: 262px;
	height: 24px;
}
.vinvout_submit .apply{
	position:absolute;
	left: 40px;
	top: 4px;
}
.vinvout_submit .cancel{
	position:absolute;
	left: 165px;
	top: 3px;
}

#status{
	position:absolute;
	left: 328px;
	top: 73px;
	height: 27px;
	width: 454px;
}

.stream_selector{
	position:absolute;
	width: 821px;
	left: 19px;
	top: -1px;
}
#vout_mode{
	position:absolute;
	left: 47px;
	top: 55px;
}
#vin_mode{
	position:absolute;
	left: 38px;
	top: 117px;
	width: 205px;
}	
#vin_framerate{
	position:absolute;
	left: 36px;
	top: 62px;
}
._3a_right0{
	position:absolute;
	left: 11px;
	top: 11px;
	width: 469px;
	height: 134px;
}

._3a_right5{
	position:absolute;
}
._3a_right1{
	position:absolute;
	left: 601px;
	top: 10px;
	width: 455px;
	height: 151px;
}
._3a_right2{
	position:absolute;
	left: 30px;
	top: 176px;
	width: 1006px;
	height: 150px;
}
._3a_right3{
	position:absolute;
	left: 32px;
	width: 996px;
	top: 354px;
	height: 139px;
}
._3a_right4{
	position:absolute;
}
#saturation{
	position:absolute;
	left: 458px;
	top: 84px;
	width: 206px;
	height: 34px;
}
._3a_right0 .action{
	position:absolute;
	height: 70px;
	width: 398px;
	left: 30px;
	top: 45px;
}
._3a_right1 .action{
	position:absolute;
	left: 40px;
	width: 397px;
	top: 23px;
	height: 112px;
}
/*3A exposure*/
#exposure_mode{
	position:absolute;
	left: 27px;
	top: 20px;
	width: 339px;
}

#dc_iris{
	position:absolute;
	left: 28px;
	top: 64px;
	width: 343px;
}
#shutter_min{
	position:absolute;
	left: 429px;
	top: 121px;
	width: 270px;
}
#shutter_max{
	position:absolute;
	left: 707px;
	top: 120px;
	width: 215px;
}
#max_gain{
	position:absolute;
	left: 33px;
	top: 121px;
	width: 338px;
}

#ae_target_ratio{
	position:absolute;
	left: 421px;
	top: 19px;
	width: 497px;
}
#dc_iris_duty{
	position:absolute;
	left: 429px;
	top: 63px;
	width: 491px;
}
/*3A Image Property*/
#saturation{
	position:absolute;
}
#brightness{
	position:absolute;
}
#contrast{
	position:absolute;
}
#sharpness{
	position:absolute;
}
/*White Balance Control :*/
#wbc{
	position:absolute;
	left: 63px;
	top: 27px;
}

._3a_submit{
	position:absolute;
	width: 232px;
	left: 401px;
	top: 521px;
	height: 27px;
}
._3a_submit .apply{
	position:absolute;
	left: 40px;
	top: 4px;
}
._3a_submit .cancel{
	position:absolute;
	left: 165px;
	top: 3px;
}
#__s0_M{
	position:absolute;
	left: 34px;
	top: 12px;
	width: 377px;
}
#__s0_N{
	position:absolute;
	left: 35px;
	top: 50px;
	width: 396px;
}
#__s0_idr_interval{
	position:absolute;
	left: 32px;
	top: 99px;
}
#__s0_quality{
	position:absolute;
	left: 32px;
	top: 140px;
}

#__s1_M{
	position:absolute;
	left: 34px;
	top: 12px;
	width: 377px;
}
#__s1_N{
	position:absolute;
	left: 35px;
	top: 50px;
	width: 396px;
}
#__s1_idr_interval{
	position:absolute;
	left: 32px;
	top: 99px;
}
#__s1_quality{
	position:absolute;
	left: 32px;
	top: 140px;
}

#__s2_M{
	position:absolute;
	left: 34px;
	top: 12px;
	width: 377px;
}
#__s2_N{
	position:absolute;
	left: 35px;
	top: 50px;
	width: 396px;
}
#__s2_idr_interval{
	position:absolute;
	left: 32px;
	top: 99px;
}
#__s2_quality{
	position:absolute;
	left: 32px;
	top: 140px;
}

#__s3_M{
	position:absolute;
	left: 34px;
	top: 12px;
	width: 377px;
}
#__s3_N{
	position:absolute;
	left: 35px;
	top: 50px;
	width: 396px;
}
#__s3_idr_interval{
	position:absolute;
	left: 32px;
	top: 99px;
}
#__s3_quality{
	position:absolute;
	left: 32px;
	top: 140px;
}

#__s4_M{
	position:absolute;
	left: 34px;
	top: 12px;
	width: 377px;
}
#__s4_N{
	position:absolute;
	left: 35px;
	top: 50px;
	width: 396px;
}
#__s4_idr_interval{
	position:absolute;
	left: 32px;
	top: 99px;
}
#__s4_quality{
	position:absolute;
	left: 32px;
	top: 140px;
}
#__pointe{
	position:absolute;
	left: 36px;
	top: 174px;
}

#__pointf{
	position:absolute;
	left: 35px;
	top: 211px;
}
.content .enc_right1{
	float: left;
	border:solid #ff9900 10px;


/*left:标记元素靠左，右边无文字绕排；
right:标记元素靠右，左边无文字绕排； */
//	height:auto;
	min-height:500px;
	background: #ffffff;
	padding-bottom: 10px;
	width:1033px;
	background-color:#f2f2f2;
	position:absolute;



//    z-index:2;
	left: 9px;
	top: 24px;
	height: 287px;
}
#s0_type{
	position:absolute;
	left: 51px;
	top: 131px;
	width: 271px;
}
#s0_dptz{
	position:absolute;
	left: 47px;
	top: 244px;
	width: 271px;
}
#s0_enc_fps{
	position:absolute;
	left: 48px;
	top: 176px;
	width: 273px;
}

#s0_resolution{
	position:absolute;
	left: 48px;
	top: 39px;
	width: 269px;
}
#s0_flip_rotate{
	position:absolute;
	left: 46px;
	top: 88px;
	width: 271px;
}

#s1_type{
	position:absolute;
	left: 51px;
	top: 131px;
	width: 271px;
}
#s1_dptz{
	position:absolute;
	left: 47px;
	top: 244px;
	width: 271px;
}
#s1_enc_fps{
	position:absolute;
	left: 48px;
	top: 176px;
	width: 273px;
}

#s1_resolution{
	position:absolute;
	left: 48px;
	top: 39px;
	width: 269px;
}
#s1_flip_rotate{
	position:absolute;
	left: 46px;
	top: 88px;
	width: 271px;
}

#s2_type{
	position:absolute;
	left: 51px;
	top: 131px;
	width: 271px;
}
#s2_dptz{
	position:absolute;
	left: 47px;
	top: 244px;
	width: 271px;
}
#s2_enc_fps{
	position:absolute;
	left: 48px;
	top: 176px;
	width: 273px;
}

#s2_resolution{
	position:absolute;
	left: 48px;
	top: 39px;
	width: 269px;
}
#s2_flip_rotate{
	position:absolute;
	left: 46px;
	top: 88px;
	width: 271px;
}

#s3_type{
	position:absolute;
	left: 51px;
	top: 131px;
	width: 271px;
}
#s3_dptz{
	position:absolute;
	left: 47px;
	top: 244px;
	width: 271px;
}
#s3_enc_fps{
	position:absolute;
	left: 48px;
	top: 176px;
	width: 273px;
}

#s3_resolution{
	position:absolute;
	left: 48px;
	top: 39px;
	width: 269px;
}
#s3_flip_rotate{
	position:absolute;
	left: 46px;
	top: 88px;
	width: 271px;
}
#enc_h264{
	position:absolute;
	left: 542px;
	top: 40px;
	width: 424px;
	height: 230px;
}
.enc_submit{
	position:absolute;
	left: 572px;
	top: 488px;
	width: 258px;
	height: 56px;
}


.canvas_1{
	display:inline;/*不能去. chrome 中为block*/
	width:800px;
	height:542px;
	margin-right: 0px;
	margin-left: 0px;
	position:absolute;
	left: 23px;
	top: 21px;
}
/*osd*/
#s1_text{
	position:absolute;
	left: 4px;
	top: 22px;
}
#s1_text_color{
	position:absolute;
	left: 7px;
	top: 66px;
}
#s1_text_size{
	position:absolute;
	left: 11px;
	top: 99px;
}
#s1_text_startx{
	position:absolute;
	left: 14px;
	top: 136px;
}
#s1_text_starty{
	position:absolute;
	left: 122px;
	top: 137px;
}
#s1_text_boxw{
	position:absolute;
	left: 2px;
	top: 164px;
	height: 25px;
	width: 120px;
}
#s1_text_boxh{
	position:absolute;
	left: 122px;
	top: 162px;
	height: 31px;
}
#s1_time_enable{
	position:absolute;
	left: 5px;
	top: 221px;
}
#s1_bmp_enable{
	position:absolute;
	left: 88px;
	top: 222px;
}
#pm_enable{
	position:absolute;
	left: 166px;
	top: 220px;
}
#pm_x{
	position:absolute;
	left: 6px;
	top: 273px;
}
#pm_y{
	position:absolute;
	left: 122px;
	top: 275px;
}
#pm_w{
	position:absolute;
	left: 5px;
	top: 298px;
}
#pm_h{
	position:absolute;
	left: 124px;
	top: 299px;
}
#pm_color{
	position:absolute;
	left: 6px;
	top: 385px;
}
#osd_submit{
	position:absolute;
	left: 48px;
	top: 404px;
	height: 39px;
}

#s0_text{
	position:absolute;
	left: 4px;
	top: 22px;
}
#s0_text_color{
	position:absolute;
	left: 7px;
	top: 66px;
}
#s0_text_size{
	position:absolute;
	left: 11px;
	top: 99px;
}
#s0_text_startx{
	position:absolute;
	left: 14px;
	top: 136px;
}
#s0_text_starty{
	position:absolute;
	left: 122px;
	top: 137px;
}
#s0_text_boxw{
	position:absolute;
	left: 2px;
	top: 164px;
	height: 25px;
	width: 120px;
}
#s0_text_boxh{
	position:absolute;
	left: 122px;
	top: 162px;
	height: 31px;
}
#s0_time_enable{
	position:absolute;
	left: 5px;
	top: 221px;
}
#s0_bmp_enable{
	position:absolute;
	left: 88px;
	top: 222px;
}

#s2_text{
	position:absolute;
	left: 4px;
	top: 22px;
}
#s2_text_color{
	position:absolute;
	left: 7px;
	top: 66px;
}
#s2_text_size{
	position:absolute;
	left: 11px;
	top: 99px;
}
#s2_text_startx{
	position:absolute;
	left: 14px;
	top: 136px;
}
#s2_text_starty{
	position:absolute;
	left: 122px;
	top: 137px;
}
#s2_text_boxw{
	position:absolute;
	left: 2px;
	top: 164px;
	height: 25px;
	width: 120px;
}
#s2_text_boxh{
	position:absolute;
	left: 122px;
	top: 162px;
	height: 31px;
}
#s2_time_enable{
	position:absolute;
	left: 5px;
	top: 221px;
}
#s2_bmp_enable{
	position:absolute;
	left: 88px;
	top: 222px;
}


#s3_text{
	position:absolute;
	left: 4px;
	top: 22px;
}
#s3_text_color{
	position:absolute;
	left: 7px;
	top: 66px;
}
#s3_text_size{
	position:absolute;
	left: 11px;
	top: 99px;
}
#s3_text_startx{
	position:absolute;
	left: 14px;
	top: 136px;
}
#s3_text_starty{
	position:absolute;
	left: 122px;
	top: 137px;
}
#s3_text_boxw{
	position:absolute;
	left: 2px;
	top: 164px;
	height: 25px;
	width: 120px;
}
#s3_text_boxh{
	position:absolute;
	left: 122px;
	top: 162px;
	height: 31px;
}
#s3_time_enable{
	position:absolute;
	left: 5px;
	top: 221px;
}
#s3_bmp_enable{
	position:absolute;
	left: 88px;
	top: 222px;
}
#pm_display{
	position:absolute;
	left: 6px;
	top: 249px;
}
